@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import "@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 100%;
}

.login_wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  min-height: 100%;
  place-items: center;
  background: #1764af;
  background: linear-gradient(-165deg, #1f1d1d, rgba(197, 197, 197, 0.1));
}

.loading_wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  min-height: 100%;
  place-items: center;
}

.loading_wrapper img {
  height: 15rem;
  width: 15rem;
  margin-bottom: -20rem;
}

.loading_wrapper h1 {
  margin-top: -17rem;
}

::selection {
  background: #4158d0;
  color: #fff;
}

.wrapper {
  width: 380px;
  background: #fff;
  /*border-radius: 15px;*/
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 80px;
  color: #fff;
  user-select: none;
  /*border-radius: 15px 15px 0 0;*/
  background: linear-gradient(-135deg, #df5092, #4158d0);
}

.wrapper form {
  padding: 10px 30px 10px 30px;
}

.dropdown-selector {
  height: 50px;
  width: 100%;
  margin-top: 2.2rem;
  position: relative;
}

.calendar-released {
  height: 50px;
  width: 100%;
  margin-top: 2.2rem;
  font-size: 17px;
  color: #989899;
}

.dropdown-selector mat-form-field {
  width: 100%;
}

.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 2.2rem;
  position: relative;
}

.wrapper form .field mat-form-field {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
  position: relative;
}

.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.btn-add-course {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.btn-add-course button {
  width: 13.9rem;
  height: 3rem;
  background-color: #ffffff;
  border-radius: 23px;
  color: #e75e8d;
}

.btn-add-course button:hover {
  background-color: #e75e8d;
  color:  #ffffff;
}

.choose-file1 {
  height: 50px;
  width: 100%;
  margin-top: 3.8rem;
  position: relative;
  outline: none;
  font-size: 17px;
  color: #989899;
  padding-left: 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
}

.choose-file2 {
  height: 50px;
  width: 100%;
  margin-top: 1rem;
  position: relative;
  outline: none;
  font-size: 17px;
  color: #989899;
  padding-left: 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
}

.choose-file input {
  margin-top: 0.3rem;
}

.wrapper form .field input:focus,
form .field input:valid {
  border-color: #4158d0;
}

.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}

form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}

form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

form .content input {
  width: 15px;
  height: 15px;
  background: red;
}

form .content label {
  color: #262626;
  user-select: none;
  padding-left: 5px;
}

form .content .pass-link {
  color: black;
}

form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #df5092, #4158d0);
  transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
  transform: scale(0.95);
}

form .signup-link {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}

form .pass-link a,
form .signup-link a {
  color: #4158d0 !important;
  text-decoration: none !important;
}

form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline !important;
}
